@charset "UTF-8";
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  --bs-gutter-x: 1.5rem;
}

.row {
  --bs-gutter-x: 1.5rem;
}

@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1320px;
  }
}
/*стили для заголовка*/
.header .container {
  padding-top: 50px;
}
.header .shadowAll {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100vw;
  background: #000;
  opacity: 0.5;
  z-index: 0;
  display: none;
}
.header.open .navigation__list-sm {
  display: block;
}

.navigation__list-sm {
  padding-top: 50px;
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  width: 80%;
  height: 100vh;
  display: none;
  z-index: 1;
  padding-top: 120px;
  text-align: right;
  padding-right: 27px;
}

/*крестиk*/
.header.open span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}

.header.open span:nth-child(2) {
  opacity: 0;
}

.header.open span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}

.header__menu-btn {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #fff;
  float: right;
  z-index: 2;
  margin-top: 6px;
}
@media screen and (max-width: 768px) {
  .header__menu-btn {
    display: block;
  }
}
.header__menu-btn span {
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: #4047e2;
  left: 5px;
  transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
  will-change: transform;
}
.header__menu-btn span:nth-child(1) {
  transform: translateY(-7px);
}
.header__menu-btn span:nth-child(3) {
  transform: translateY(7px);
}

.navigation {
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow-x: hidden;
}
.navigation .navigation__list {
  display: flex;
  gap: 50px;
  margin-bottom: 0;
  align-items: center;
}
@media screen and (max-width: 576px) {
  .navigation .navigation__list {
    gap: 25px;
  }
}
@media screen and (max-width: 768px) {
  .navigation .navigation__list {
    display: none;
  }
}
.navigation .navigation__list .navigation__list-item {
  text-decoration: none;
  list-style: none;
  font-size: 18px;
  font-weight: 400;
}
.navigation .navigation__list .navigation__list-item .navigation__list-item-link {
  color: #3f3a51;
  text-decoration: none;
}
.navigation .navigation__list .navigation__list-item .navigation__list-item-link:hover {
  color: #ffc04e;
}

.navigation__list-sm .navigation__list-item-sm {
  text-decoration: none;
  list-style: none;
  font-size: 18px;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .navigation__list-sm .navigation__list-item-sm {
    padding-bottom: 30px;
  }
}
.navigation__list-sm .navigation__list-item-sm .navigation__list-item-link-sm {
  color: #3f3a51;
  text-decoration: none;
}
.navigation__list-sm .navigation__list-item-sm .navigation__list-item-link-sm:hover {
  color: #ffc04e;
}
.navigation__list-sm .infoFromFooter {
  height: 75%;
  display: grid;
  grid-template-rows: 1fr;
  align-items: end;
}
.navigation__list-sm .infoFromFooter p {
  margin-bottom: 15px;
  color: #8F99AC;
  font-size: 14px;
}
.navigation__list-sm .promoDotSolution {
  margin-top: 16px;
}

/*конец стилей для заголовка*//*# sourceMappingURL=navigation.css.map */